root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

# trailing spaces in markdown indicate word wrap
[*.md]
trim_trailing_spaces = false
max_line_length = 80
tab_width = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 2